<h3>Current Order</h3>
<% if @order_items.any? %>
  <% @order_items.each do |item| %>
    <p><%= item.product.name %> | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
    <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>

    <% if item.product.photo_file_name %>
      <%= image_tag item.product.photo(:cart) %>
    <% else %>
      <%= image_tag item.product.image_url, class: "cart_size" %>
    <% end %>
    <hr>
  <% end %>
  <p>Your Total: <%= number_to_currency current_order.total_price %></p>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

<h3>Previous Orders</h3>
<% if @open_orders.any? %>
  <% @open_orders.each do |order| %>
    <% order.order_items.each do |item| %>
      <%= item.product.name %>  | <%= link_to "Delete", order_item_path(item), :data => {:confirm => "You sure?", :method => "delete"} %></p>
      <p> Unit Price: <%= number_to_currency item.product.price %> | Quantity: <%= item.quantity %> | Total Price: <%= number_to_currency (item.product.price * item.quantity) %></p>

      <% if item.product.photo_file_name %>
        <%= image_tag item.product.photo(:cart) %>
      <% else %>
        <%= image_tag item.product.image_url, class: "cart_size" %>
      <% end %>
      <hr>
    <% end %>
  <% end %>
<% end %>
