<h1><%= @product.name %></h1>
<% if @product.photo_file_name %>
  <%= image_tag @product.photo(:medium) %>
<% else %>
  <%= image_tag @product.image_url %>
<% end %>
<br>
<h5> Holy Smokes! Look at that price:</h5> <h5> <%= number_to_currency @product.price %></h5>
<p><%= @product.description %></p>
<%= form_for @order_item, remote: true do |f| %>
<%= f.hidden_field :product_id, value: @product.id %>
<%= f.select :quantity, 1..20 %>
<%= f.submit "Add To Cart" %>
<% end %>
