<h1>Products!</h1>

<%= @products.each do |product| %>
<h3> <%= product.name %> </h3>
<h5>Price<%= number_to_currency product.price %></h5>
<%= form_for @order_item do |f| %>
  <%= f.hidden_field :product_id, value: product.id %>
  <%= f.number_field :quantity %>
  <%= f.submit "Add to Cart", :class => "btn btn-success"%>
  <% end %>
<% end %>
