<h2>Grondo's Bazaar</h2>
<hr>
<% if is_admin? %>
<%= link_to "Add New Product", new_product_path(@product)%>
<%end%>
<% @products.each do |product| %>
<div class ="card">
  <% if product.photo_file_name %>
    <%= image_tag product.photo %>
  <% else %>
    <%= image_tag product.image_url %>
  <% end %>
</div>
<h3> <%= link_to product.name, product_path(product), remote: true %> </h3>
<h5>Price <%= number_to_currency product.price %></h5>
<% end %>
