<!DOCTYPE html>
<html>
  <head>
    <title>Grondo's Bazaar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class="row">
        <div class="col-md-5">
          <% if current_user %>
          <%= link_to "Home", products_path %>  | <%= current_user.email %> | <%= link_to "Sign out", '/signout', id: "signout" %> | <%= link_to "Cart", cart_path %>
          <% else %>
            <%= link_to "Sign up", 'signup' %> | <%= link_to "Sign in", '/signin', id: "signin" %>
          <% end %>

          <%= flash[:alert] %>
          <%= flash[:notice] %>
          <br>
          <%= yield %>
        </div>
        <div class="col-md-5">
          <!-- <%= current_user.name %>'s Cart

          <% if !current_order.id === nil %>
            <% current_order.order_items.each do |item| %>
              <%= item.product.name %>
              <%= item.product.price %>
            <% end %>
          <% end %>
          <h3>Total:</h3>
          <%= number_to_currency current_order.total_price %> -->
        </div>
      </div>
    </div>
  </body>
</html>
